# CMake Build Artifacts
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
CTestTestfile.cmake
*.cmake

# Compiled Binaries
*.out
*.exe
*.o
*.a
*.so
*.dylib

# Folders
build/
bin/
lib/

# IDE files (Optional but good)
.vscode/
.idea/
*.swp